@import "./typography.styl"
@import "./color.styl"

header

  backgroud white
  padding 0px 5px
  display flex
  justify-content space-between

header img 
  
  margin 15px 0px

.header-ul
    margin-right 15px
    display flex
    justify-content space-around
    list-style none
  

.header-ul li a
  
    display inline-block
    padding 25px 15px
    border-top : 5px solid transparent;

.current-li

  border-top: 5px solid mainColor !important;


.right-header

  display flex
  justify-content space-around
  align-items center
  padding 0px 20px

.profile-area

  display flex
  justify-content space-around
  align-items center

.Profilebulb

  display inline-block
  padding 10px 15px 
  border-radius 30px
  background mainColor 
  color white
  margin-right 5px

.calendar-wrapper
  
  width:80%;
  margin: 50px auto;

.rbc-event

  background-color mainColor !important

